services:

  redis1:
    image: "redis:latest"
    container_name: redis1
    command: [ "redis-server", "--appendonly", "yes" ]

  creek-node1: &creek-node1
    build:
      context: .
    container_name: creek-node1
    environment:
      NODE_URLS: "creek-node1:8888,creek-node2:8888"
      NODE_ID: 0
      REDIS_HOST: "redis1"
    ports:
      - "8001:8888"
    depends_on:
      - redis1
    command: [ "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8888" ]

  gossiping-1:
    <<: *creek-node1
    container_name: gossiping-1
    ports: []
    depends_on:
      - creek-node1
    command: [ "python", "gossiping.py" ]

  consensus-1:
    <<: *creek-node1
    container_name: consensus-1
    ports: []
    depends_on:
      - creek-node1
    command: [ "python", "consensus.py" ]

  redis2:
    image: "redis:latest"
    container_name: redis2
    command: [ "redis-server", "--appendonly", "yes" ]

  creek-node2: &creek-node2
    <<: *creek-node1
    container_name: creek-node2
    environment:
      NODE_URLS: "creek-node1:8888,creek-node2:8888"
      NODE_ID: 1
      REDIS_HOST: "redis2"
    ports:
      - "8002:8888"
    depends_on:
      - creek-node1
      - redis2
    # command: [ "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8888" ]

  gossiping-2:
    <<: *creek-node2
    container_name: gossiping-2
    ports: []
    depends_on:
      - creek-node2
    command: [ "python", "gossiping.py" ]

  consensus-2:
    <<: *creek-node2
    container_name: consensus-2
    ports: []
    depends_on:
      - creek-node2
    command: [ "python", "consensus.py" ]
